# Ignore Play! working directory #
*.eml
*.iml
.cache
.classpath
.eclipse
.project
/.settings
/bin
/conf/ldap-secure.conf
/db
/dist
/lib
/logs
/modules
/project/project
/project/target
/target
/tmp
activator
activator-launch-1.3.2.jar
activator.bat
server.pid
test-result
