<!DOCTYPE html>

<html>
<head>
<title></title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-table.min.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body>
	<table id="attributes-table" data-toggle="table" data-url="/allSortedLdapAttributes">
		<thead>
			<tr>
				<th data-field="name">Name</th>
				<th data-field="values">Values</th>
			</tr>
		</thead>
	</table>
	<script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap-table.min.js")"></script>
	<script>
		$(function() {
			$('#attributes-table').bootstrapTable().on('load-success.bs.table', mergeCells)
		});

		function mergeCells() {
			$.getJSON("/attributesTableMergeOptions", function(data) {
				for ( var i in data)
					$('#attributes-table').bootstrapTable('mergeCells', data[i])
			});

		}
	</script>
</body>
</html>
